<div id="navbar" class="container-fluid">
  <div class="row d-flex text-center">
    <div class="col-xs">
      <button class="mx-auto"><img src="assets/home_selected.svg" alt="" class="img-fluid"></button>
    </div>
    <div class="col-xs">
      <button><img src="assets/resume.svg" alt="" class="img-fluid"></button>
    </div>
    <div class="col-xs">
      <button><img src="assets/skills.svg" alt="" class="img-fluid"></button>
    </div>
    <div class="col-xs">
      <button><img src="assets/projects.svg" alt="" class="img-fluid"></button>
    </div>
    <div class="col-xs">
      <button><img src="assets/more.svg" alt="" class="img-fluid"></button>
    </div>
  </div>
</div>
