<div class="container-fluid" id="home">
  <div class="row">
    <div class="col-md-1 p-0 m-0 sticky">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md">
      <img src="assets/rosace.svg" alt="" class="img-fluid rosace-entrance">
      <div class="glitch-bloc ms-md-5 d-flex align-items-center">
        <p class="invisible-text">
          BONJOUR,<br>
          JE SUIS NIDAL,<br>
          UN DÉVELOPPEUR <br>
          PASSIONNÉ
        </p>
        <p class="glitchedAnim">
          BONJOUR,<br>
          JE SUIS NIDAL,<br>
          UN DÉVELOPPEUR <br>
          <span style="color: var(--lime)">PASSIONNÉ</span>
        </p>
        <p class="glitchedAnim">
          BONJOUR,<br>
          JE SUIS <span style="color: var(--cyan)">NIDAL</span>,<br>
          UN DÉVELOPPEUR <br>
          PASSIONNÉ
        </p>
        <p class="glitchedAnim">
          BONJOUR,<br>
          JE SUIS <span style="color: var(--cyan)">NIDAL</span>,<br>
          UN DÉVELOPPEUR <br>
          <span style="color: var(--lime)">PASSIONNÉ</span>
        </p>
      </div>
    </div>
  </div>
</div>
